@import "titles";

.media-card {
  width: 100%;
  max-height: 600px;
}

.div-home {
  max-width: 600px !important;
  width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.avatar {
  margin: 10px;
  width: 60px !important;
  height: 60px !important;
}

.div-profil {
  max-width: 600px !important;
  width: 100% !important;
  max-height: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: absolute;
  outline: none;
}

.card {
  width: 100%;
  padding: auto;
}
@media screen and (max-width: 320px) {
  .media-card {
    max-width: 100%;
    width: 300px;
  }
  .div-profil {
    width: 300px !important;
  }

}
