@import "titles";

.media-card {
  width: 100%;
}

body {
  margin: 0;
  background-color: #fafafa;
}
.bold {
  font-weight: bold !important;
}
.header-nav {
  .badge {
    span:nth-child(2) {
      font-size: 16px;
    }
  }
  span {
    font-size: 28px;
    margin-right: 15px;
    color: black;
  }
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-home {
  max-width: 600px !important;
  width: 100% !important;
  padding-top: 60px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.avatar-home-picture {
  margin: 10px;
  width: 40px !important;
  height: 40px !important;
}

.tab-profil {
  font-size: 15px !important;
}

.avatar {
  margin: 10px;
  width: 60px !important;
  height: 60px !important;
}

.div-profil {
  max-width: 600px !important;
  width: 100% !important;
  max-height: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: absolute;
  outline: none;
}

@media screen and (max-width: 640px){
  .div-home {
    padding-top: 0;
  }

}

.card {
  width: 100%;
  margin-bottom: 20px !important;
  padding: auto;
}

.ProfilNotFound {
  text-align: center;
  padding-top: 100px;
  p {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: black;
  }
  p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
  }
  p:nth-child(2) {
    font-size: 18px;
    margin-top: 0;
  }
  a {
    font-size: 18px;
    color: black;
    text-decoration: underline;
  }
}

.navbar {
  background-color: white !important;

  .left {
    display: block;
    * {
      display: inline-block;
    }
    img {
      max-width: 35px;
    }
    .logo {
      max-width: 100px;
    }
    hr {
      height: 34px;
      width: 1px;
      background-color: #262626;
      margin: 0 15px;
    }
  }

  .searchbar {
    max-height: 60px;
    position: relative;
    input {
      padding: 7.5px 14px !important;
    }
    .resultat {
      position: absolute;
      padding: 15px;
      max-height: 300px;
      overflow-y: scroll;
      top: 34px;
      left: 0;
      width: 300px;
      max-width: 100%;
      background-color: white;

      .description {
        list-style: none;
        .searchRight {
          max-width: 223px;
        }
        .searchLeft, .searchRight {
          display: inline-block;
          vertical-align: middle;
        }
        .searchRight p {
          display: inline-block;
          vertical-align: middle;
          font-family: "Roboto", "Helvetica", "Arial", sans-serif;
          color: black;
          font-weight: bold;
          font-size: 16px;
          line-height: 1.1;
          margin: 0;
        }
        .searchRight p  span {
          font-size: 14px;
          font-weight: normal;
        }
      }

    }
  }
}


.error {
  color: #f44336;
  font-size: 0.75rem;
  text-align: left;
  min-height: 1em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1em;
  margin: 8px 0 15px;
}

.containerExplore {
  width: 900px !important;
  max-width: 100%;
  margin: 40px auto 0;

  .containerUserList {
    width: 100%;
    overflow-x: auto;
    display: flex;
    &::-webkit-scrollbar {
      display: none;
    }
    .itemUser {
      margin: 20px 15px 20px 10px;
      display: inline-block;
      min-width: 260px;
      span {
        text-decoration: none;
      }
      a {
        text-decoration: none;
      }
      .avatarUserItem {
        align-items: center;
        justify-content: center;
        > div {
          width: 100%;
          margin-right: 0;
          > div {
            margin: 0 auto;
          }
        }
      }
      .cardBody {
        padding-top: 0 !important;
        text-align: center !important;
      }
    }
  }


}

.LoginPage {
  width: 700px !important;
  max-width: 100%;
  margin: 0 auto !important;
  padding-top: 100px;
  .left img {
    max-height: 580px;
    max-width: 100%;
  }
  .containerForm.register {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;

    .input {
      background-color: #E8F0FE;
    }
    .up {
      p {
        font-size: 20px;
      }
    }
  }
  .containerForm {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ececec;
    .or {
      p {
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        color: #999;
        font-size: 15px;
        width: 20px;
        margin: 10px auto;
      }

    }
    .logo {
      width: 200px;
      max-width: 100%;
    }
    .input {
      margin: 0 0 10px;
      border: none;
      border-radius: 5px;
      background-color: #E8F0FE;
      label {
        padding-left: 5px;

      }
      :before {
        border: none !important;
      }
      p {
        color: red
      }
    }

    button {
      width: 100%;
      background-color: #3897F0;
      font-size: 15px;
      color: white;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      padding: 0;
      text-transform: none;
    }

  }
  .backLogin {
    width: 320px;
    max-width: 100%;
    margin: 0 auto;
  }
  .register, .backLogin {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid #ececec;
    margin-top: 20px;

    p {
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      color: #999;
      font-size: 14px;
    }
    span {
      font-weight: 500;
    }
    a {
      color: #003569;
      text-decoration: none;
    }
  }
}

.container-picture {
  border: 1px solid rgba(128, 128, 128, 0.26);
  border-radius: 0 !important;
  box-shadow: unset !important;
  a:-webkit-any-link {
    text-decoration: none !important;
  }
  &.item {
    padding: 12px;
  }
  .cardheader {
    padding: 0 !important;
  }
  .container {
    padding-bottom: 10px;
  }
  .action {
    padding: 5px 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1em;
  }
  .icon-header  {
    span {
      font-size: 28px !important;
      color: black;
    }
    button {
      padding: 4px;
      margin-right: 5px;
    }

  }
  .header {
    p {
      margin: 0;
      max-width: 100%;
      word-break: break-word;
      span {
        font-weight: bold;
      }
    }
  }
  .hashtags {
    color:#003569;
  }
  .date {
    color:#999;
    font-size: 10px;
    text-transform: uppercase;
  }
  .mentions {
    font-weight: bold;
    font-size: 12px;
  }
}

.ProfilHeader {
  .el {
    line-height: 1.3;
  }
  .containerProfil {
    word-break: break-all;
  }
}

.formUpload {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  &:hover {
    cursor: pointer;
  }
  button {
    margin-bottom: 20px !important;
  }
  .uploadButton {
    margin-top: 20px;
    p {
      display: inline-block;
      font-size: 0.75rem;
      text-align: left;
      margin-right: 10px;
      font-family: "Roboto", "Helvetica", "Arial", sans-serif;
      line-height: 1em;
    }
    span {
      font-size: 62px !important;
      vertical-align: middle;
    }
  }
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.containerPictureProfil {
  padding: 2px;
}
.pictureProfil {
  text-align: center;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }

  img {
    max-width: 100%;
    vertical-align:middle
  }
}

.modalUpload {
  position: relative;
  .closeModal {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 40px;
    z-index: 99;
    img {
      max-width: 100%;
    }
  }
  > div {
    background-color: white;
  }
  .containerFilter {
    button {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
    }
  }
  .imagePreview {
    max-width: 100%;
    padding: 50px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .stepContent {
    padding: 60px;
  }
}

.modalWebcam {
  position: relative;
  .inModalWebcam {
    padding: 50px;

    .imgPreview {
      margin: 50px;
    }
    button {
      margin: 10px;
    }
  }
  .closeModal {
    position: absolute;
    top: 10px;
    right: 25px;
    width: 40px;
    z-index: 99;
    img {
      max-width: 100%;
    }
  }
}


@media screen and (max-width: 598px) {
}

@media screen and (max-width: 640px) {
  .tabsContainer {
    button {
      min-height: 48px;
    }
    .tab-profil + span, .jss244 {
      display: none;
    }
  }
  .pictureProfil {
    height: 140px;
  }
}
@media screen and (max-width: 320px) {
  .media-card {
    width: 100%;
  }
  .div-profil {
    width: 300px !important;
  }
  .pictureProfil {
    height: 100px;
  }
}
